body {
    font-family: 'Roboto Mono', monospace;
    background-color: #111111;
    /* A subtle grid pattern for the background to enhance the brutalist feel */
    background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 20px 20px;
}
/* Custom scrollbar for a more integrated look */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
    background-color: #ff0000;
}